# 
## CUSTOMIZED PARAMETERS
##
[client]
port=3306
protocol=tcp

[mysql]
default-character-set=utf8

[server]
#expire_logs_days=2
binlog_expire_logs_seconds=172800


# SERVER SECTION
[mysqld]
port=3306
default_authentication_plugin=mysql_native_password
#default-time-zone=-8:00
#default-time-zone=-7:00
character-set-server=utf8
#  MYSQL 8 SPECIFIC CHANGE
collation_server=utf8_general_ci
sql-mode="PAD_CHAR_TO_FULL_LENGTH,ANSI,ANSI_QUOTES"


# for OGG DDL support
#max_binlog_size=40960
max_binlog_size=10240
binlog_format=row
server-id=1

# for ATS test PCC_NClobLmit
innodb_file_per_table



# DEFAULT PARAMETERS
default-storage-engine=InnoDB
#sql-mode="STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
max_connections=100
tmp_table_size=35M
thread_cache_size=8

#*** MyISAM Specific options
myisam_max_sort_file_size=100G
myisam_sort_buffer_size=69M
